{
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "quoteProps": "as-needed",
    "singleQuote": true,
    "semi": true,
    "printWidth": 220,
    "trailingComma": "none",
    "singleAttributePerLine": false,
    "parser": "babel-ts"
}