@import './fonts.css';
@import './animations/index.css';
@import './base.css';
@import './components.css';
@import './utilities.css';
@import '../../../node_modules/@fortawesome/fontawesome-svg-core/styles.css';
@import '../../../node_modules/react-loading-skeleton/dist/skeleton.css';

.font-small-caps {
    font-variant-caps: small-caps;
}

.font-petite-caps {
    font-variant-caps: petite-caps;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.network-online {
    @apply bg-lime;
}

.network-offline {
    @apply bg-red;
}

.disclosure-square {
    list-style: square;
}

.theme-primary {
    --fa-primary-color: linen;
    --fa-secondary-color: dodgerblue;
    --fa-secondary-opacity: 1;
}